<!DOCTYPE html>
<html>
<head>
    <title>Mimosa</title>

    <script src="../lib/system.js/dist/system.js"></script>


    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="../css/indexStyles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/nav-css/style.css">
    <link rel="stylesheet" href="../css/nav-css/reset.css">
    <link rel="/stylesheet" href="../css/nav-css/styles.css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>

    <link href="../css/categoryPageStyles.css" rel="stylesheet"/>

    <link rel="stylesheet" href="../css/mainGamepageStyles.css"/>

    <script> Parse.initialize("6V83omVEISgfzl9kIe2ENYxtERBUJ2nlrruGogFs", "nhr3xvaAlRmnVxGiOSyARYLskitpzwdmlUuDCHKC");</script>
</head>
<body>


<script src="../js/config.js"></script>

<script>

    System.import('../js/app.js')
            .then(function (module) {
                module.init();
            });

</script>

</body>
</html>