<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="../css/mainGamepageStyles.css" />  <!--tova raboti-->
     <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="js/handlebars-v3.0.3.js"></script>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

    <script src="../js/mainGamepageCreation.js"></script>
    <script>
        var func = solve();
        func();
    </script>
    <script src="../js/mainGamepageEvents.js"></script>

    <script id="questionContent" type="text/x-handlebars-template">
        <div id="questionHeader">
            <h2>{{questionText}}</h2>
        </div>
        <div id="questioBody">
            <div id="1" class="percental"><span>{{optionOne}}</span></div>
            <div id="2" class="percental"><span>{{optionTwo}}</span></div>
            <br />
            <div id="3" class="percental"><span>{{optionThree}}</span></div>
            <div id="4" class="percental"><span>{{optionFour}}</span></div>

        </div>
    </script>

    <script>
        var currentQuestion = {
            questionText: 'How many engineers are needed to fix a lightbulb?',
            optionOne: ' The police ',
            optionTwo: '2',
            optionThree: '3',
            optionFour: '1dfvvgdf4'
        };
        var htmlTaker = document.getElementById('questionContent').innerHTML;
        var workingHTML = Handlebars.compile(htmlTaker);
        document.getElementById('questionHolder').innerHTML = workingHTML(currentQuestion);
    </script>


</body>

</html>