<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="styles/categoryPageStyles.css" rel="stylesheet" />
    <script src="lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <script src="js/secondPage.js"></script>
    <!--<div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" id="header">
                Pick a category
            </div>
        </div>
        <div class="row">
            <a href="index.html" class="col-md-3 col-md-offset-2">
                <img src="images/KidsAcademy.jpg" class="img-responsive img-rounded" id="KidsAcademy" />
            </a>
            <a class="col-md-3 col-md-offset-2">
                <img src="images/SchoolAcademy.jpg" class="img-responsive img-rounded" id="SchoolAcademy" />
            </a>
        </div>
        <a href="index.html" class="col-md-3 col-md-offset-2">
            <img src="images/AlgoAcademy.jpg" class="img-responsive img-rounded" id="AlgoAcademy" />
        </a>
        <a href="index.html" class="col-md-3 col-md-offset-2">
            <img src="images/SoftwareAcademy.jpg" class="img-responsive img-rounded" id="SoftwareAcademy" />
        </a>
    </div>-->
</body>
</html>